body{
    background-color: white;
}

#cloud {
    height: 230px;
    margin: 40px;
    position: relative;
    width: 400px;
    text-align: center;
    margin: 0 auto !important;
    margin-top: 200px !important;

}



#bottom_c {
    background-color: #2C88A2;
    border-radius: 100px;
    height: 150px;
    position: absolute;
    top: 100px;
    width: 350px;
    z-index: 0;


}

#middle_c{
    background-color: #2C88A2;
    border-radius: 100%;
    height: 150px;
    left: 90px;
    position: absolute;
    top: 100px;
    width: 150px;
    z-index: -1;

}



#right_c{
    background-color: #2C88A2;
    border-radius: 100%;
    height: 200px;
    left: 120px;
    position: absolute;
    top: 20px;
    width: 200px;
    z-index: -1;

}

#left_c{
    background-color: #2C88A2;
    border-radius: 100%;
    height: 150px;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 150px;
    z-index: -1;
}

#big_boy{
  background-color: #D3D3D3;
  border-radius: 100%;
  height: 300px;
  position: absolute;

  left: 25px;
  width: 300px;
  z-index: -2;
  opacity: 0.7;
}

#big_boy2{
  background-color: #D3D3D3;
  border-radius: 100%;
  height: 350px;
  position: absolute;
   top: -25px;

  width: 350px;
  z-index: -2;
  opacity: 0.5;
}

/* img{
  left: 20px;
  top: 80px;
  width: 300px;
  z-index: 1;
    position: absolute;
} */

#cloud-before{
  left: -145px;
  top: -40px;
  width: 600px;
  /* height: 350px; */
  z-index: 1;
    position: absolute;
}

#cloud-after{
  left: -200px;
  top: -60px;
  width: 700px;
  z-index: 1;
    position: absolute;
}

#dre{
  width: 120px;
  left: 110px;
  top: 60px;
  z-index: 1;
  position: absolute;
}


.fas.fa-filter{
  color: #2C88A2;
  top: 150px;
  left: -70px;
  position: absolute;
}

#funnel_circle{
  background-color: #D3D3D3;
  border-radius: 100%;
  height: 150px;
  position: absolute;
  left: -110px;
  width: 150px;
  z-index: -2;
  opacity: 0.7;
  top: -300px;
}

#icon-filter{
  color: #A9A9A9;
  height: 70px;
  position: absolute;
  left: -100px;
  width: 70px;
  z-index: 1;
  opacity: 1;
  top: 140px;
}

#after-filter{
  color: #2C88A2;
  height: 90px;
  position: absolute;
  left: -110px;
  width: 90px;
  z-index: 1;
  opacity: 1;
  top: 130px;
}

#icon-tools{
  color: #A9A9A9;
  height: 70px;
  position: absolute;
  left: -80px;
  width: 70px;
  z-index: 1;
  opacity: 1;
  top: 0px;
}

#after-tools{
  color: #2C88A2;
  height: 90px;
  position: absolute;
  left: -90px;
  width: 90px;
  z-index: 1;
  opacity: 1;
  top: -10px;
}

#icon-lock{
  color: #A9A9A9;
  height: 70px;
  position: absolute;
  left: 225px;
  width: 70px;
  z-index: 1;
  opacity: 1;
  top: -110px;
}

#after-lock{
  color: #2C88A2;
  height: 90px;
  position: absolute;
  left: 215px;
  width: 90px;
  z-index: 1;
  opacity: 1;
  top: -120px;
}



#icon-users{
  color: #A9A9A9;
  height: 80px;
  position: absolute;
  left: 375px;
  width: 80px;
  z-index: 1;
  opacity: 1;
  top: 135px;
}

#after-users{
  color: #2C88A2;
  height: 100px;
  position: absolute;
  left: 365px;
  width: 100px;
  z-index: 1;
  opacity: 1;
  top: 125px;
}

#icon-folder{
  color: #A9A9A9;
  height: 70px;
  position: absolute;
  left: 355px;
  width: 70px;
  z-index: 1;
  opacity: 1;
  top: 0px;
}

#after-folder{
  color: #2C88A2;
  height: 90px;
  position: absolute;
  left: 345px;
  width: 90px;
  z-index: 1;
  opacity: 1;
  top: -10px;
}

#icon-globe{
  color: #A9A9A9;
  height: 70px;
  position: absolute;
  left: 60px;
  width: 70px;
  z-index: 1;
  opacity: 1.0;
  top: -105px;
}

#after-globe{
  color: #2C88A2;
  height: 90px;
  position: absolute;
  left: 50px;
  width: 90px;
  z-index: 1;
  opacity: 1.0;
  top: -115px;
}

#box-lock{
  height: 50px;
  position: absolute;
  left: 25px;
   top: 110px;
  width: 300px;
  z-index: 1;
  opacity: 1.0;
  border-radius: 10px;
}

#box-globe{
  /* background-color: #2C88A2; */
  height: 50px;
  position: absolute;
  left: 25px;
   top: 110px;
  width: 300px;
  z-index: 1;
  opacity: 1.0;
  border-radius: 10px;
}

#box-funnel{
  height: 50px;
  position: absolute;
  left: 25px;
   top: 110px;
  width: 300px;
  z-index: 1;
  opacity: 1.0;
  border-radius: 10px;
}

#box-tools{
  /* background-color: #2C88A2; */
  height: 50px;
  position: absolute;
  left: 25px;
   top: 110px;
  width: 300px;
  z-index: 1;
  opacity: 1.0;
  border-radius: 10px;
}

#box-users{
  /* background-color: #2C88A2; */
  height: 50px;
  position: absolute;
  left: 25px;
   top: 110px;
  width: 300px;
  z-index: 1;
  opacity: 1.0;
  border-radius: 10px;
}

#box-folder{
  height: 50px;
  position: absolute;
  left: 25px;
   top: 110px;
  width: 300px;
  z-index: 1;
  opacity: 1.0;
  border-radius: 10px;
}


p{
font-family: 'Gotham';
color: white;
font-size:24px;
font-style: normal;
font-variant: normal;
font-weight: 300;
line-height: 26.4px;
text-shadow: 0px 1px 1px #2C88A2 }

b{
  font-weight: bold !important;
}


.visible {

  opacity: 1;
  transition: opacity 0.5s linear;
}
